* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
main {
  overflow: hidden;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 8cqw;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
}

p {
  font-size: 20px;
  font-family: "Roboto";
  color: white;
}
.brodkrummesti {
  margin-left: 2%;
  padding-top: 3%;
}

.brodkrummesti a {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
