* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
main {
  overflow: hidden;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 120px;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 105px;
}

p {
  font-size: 24px;
  font-family: "Roboto";

  color: white;
}
