* {
  box-sizing: border-box;
}
main {
  overflow: hidden;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 120px;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}
h2 {
  font-size: 40px;
  color: white;
  font-family: "Lexend";
}
h3 {
  font-size: 62px;
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-size: 48px;
  font-family: "Lexend";
  text-align: center;
  color: white;
}
p {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: lighter;
}
