---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Artist from "../components/Artist.astro";
import Spotify from "../components/Spotify.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Artist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lexend:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <main>
      <h1>ÂME</h1>
      <h3>Show</h3>
      <h3>Thursday</h3>
      <Artist />
      <Spotify />
    </main>
    <footer>
      <Footer>hej</Footer>
    </footer>
  </body>
</html>

<style>
  body {
    background-color: black;
  }
  h1 {
    font-size: 120px;
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }
  h3 {
    font-size: 30px;
    font-family: "Lexend";
    color: white;
    text-align: center;
  }
</style>
