---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Lineup from "../components/Lineup.astro";
import Stjerne from "../components/Stjerne.astro";
import Pinkbutton from "../components/Pinkbutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lexend:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <main>
      <h1 class="rulle">Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp;</h1>
      <article>
        <h3>Line-up 2024</h3>
        <Stjerne />
        <h4>3 days of house, disco and techno</h4>
      </article>

      <Lineup> TEXT </Lineup>

      <Pinkbutton button_text="Buy your tickets here" class="ticket_knap" />

      <footer>
        <Footer>hej</Footer>
      </footer>
    </main>
  </body>

  <style>
    body {
      background-image: url(../public/index_baggrund.svg);
      background-size: cover;
    }

    @keyframes rulle_kf {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .rulle {
      overflow: hidden; /* Sikrer at teksten uden for beholderen ikke vises */
      white-space: nowrap; /* Sikrer at teksten ikke ombrydes */
      display: inline-block; /* Gør elementet til et blokelement så det kan animere korrekt */
      animation: rulle_kf 40s linear infinite; /* Anvender animationen */
      padding-top: 95px;
    }

    article {
      position: relative;
      margin-top: 150px;
    }

    h2 {
      font-size: 40px;
      color: white;
      font-family: "Lexend";
    }
    h3 {
      font-size: 62px;
      font-family: "Roboto";
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-weight: 580;
      padding-top: 200px;
    }
    h4 {
      font-size: 48px;
      font-family: "Lexend";
      text-align: center;
      color: white;
      font-weight: 300;
      padding-top: 50px;
    }

    .ticket_knap {
      margin: 0 auto;
    }
  </style>
</html>
