---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Lineup from "../components/Lineup.astro";
import Stjerne from "../components/Stjerne.astro";
import Pinkbutton from "../components/Pinkbutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lexend:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <main>
      <h1 class="rulle">Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp; Karrusel Festival &nbsp;</h1>
      <article>
        <div class="h3_div">
          <h3>Line-up 2024</h3>
          <Stjerne size="index" />
        </div>
        <h4>3 days of house, disco and techno</h4>
      </article>

      <Lineup variant="pink" />

      <div class="ticket_knap_bottum">
        <Pinkbutton button_text="Buy your tickets here" class="ticket_knap" />
      </div>
    </main>
    <footer>
      <Footer>hej</Footer>
    </footer>
  </body>

  <style>
    body {
      background-image: url(../public/index_baggrund.svg);
      background-size: cover;
    }

    @keyframes rulle_kf {
      from {
        transform: translateX(1%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .rulle {
      overflow: hidden; /* Sikrer at teksten uden for beholderen ikke vises */
      white-space: nowrap; /* Sikrer at teksten ikke ombrydes */
      display: inline-block; /* Gør elementet til et blokelement så det kan animere korrekt */
      animation: rulle_kf 27s linear infinite; /* Anvender animationen */
    }

    article {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
    }

    h1 {
      margin-top: 110px;
    }

    h2 {
      font-size: 40px;
      color: white;
      font-family: "Lexend";
    }
    h3 {
      font-size: 3rem;
      font-family: "Roboto";
      color: white;
      text-transform: uppercase;
      font-weight: 580;
    }
    .h3_div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
      padding-top: 60px;
      padding-left: 200px;
    }
    h4 {
      font-size: 2.2rem;
      font-family: "Lexend";
      color: white;
      font-weight: 300;
      padding-top: 20px;
    }

    .ticket_knap_bottum {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }

    .ticket_knap {
      position: static;
      margin: 0;
    }
  </style>
</html>
