---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Lineup from "../components/Lineup.astro";
import Greenbutton from "../components/Greenbutton.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lineup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lexend:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <main>
      <div class="brodkrummesti">
        <a href="/index">Home</a> /
        <span>Line-up</span>
      </div>
      <h1>Line-up</h1>
      <div class="lineup_knapper">
        <Greenbutton id="button" button_text="Thursday" />
        <Greenbutton id="button" button_text="Friday" />
        <Greenbutton id="button" button_text="Saturday" />
      </div>
      <Lineup variant="green" />
    </main>
    <footer>
      <Footer>hej</Footer>
    </footer>
  </body>
</html>

<style>
  body {
    background-image: url(../public/lineup_baggrund.svg);
    background-size: cover;
    background-color: black;
    background-position: center;
  }
  .lineup_knapper {
    display: flex;
    gap: 100px;
    justify-content: center;
  }

  @media (max-width: 600px;) {
    body {
      background-image: url(../public/lineup_mobil.svg);
      background-size: cover;
    }
    .lineup_knapper {
      width: 10%;
    }
  }
</style>
