---
import Festivalpass from "../components/Festivalpass.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lexend:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <Menu />
    </header>

    <main>
      <div class="brodkrummesti">
        <a href="/index">Home</a> /
        <span>Tickets</span>
      </div>

      <h1>Tickets</h1>

      <section class="tickets">
        {
          data.map((tickets) => {
            return <Festivalpass data={tickets} />;
          })
        }
      </section>

      <img src="../public/tickets_img.jpg" alt="Festival" class="tickets_img" />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>

  <style>
    body {
      background-image: url(../public/tickets_baggrund.svg);
      background-size: cover;
    }

    .tickets_img {
      width: 100%;
      margin-top: 30px;
    }

    .tickets {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      margin: 10px 80px;
    }

    p {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 18px;
      color: white;
      margin: 40px 60px;
    }
  </style>
</html>
