---

---

<article>
  <h3>Karrusel Festival 2024</h3>

  <h2>Festival Pass</h2>

  <p>The Festival Pass provides access to all 3 days at Karrusel from 22–24 August 2024</p>

  <h4>800DKK</h4>
  <p>+ Ticket Fee</p>

  <a href="https://www.ticketmaster.dk/event/542817">Buy Now +</a>
</article>

<style>
  body,
  html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  article {
    border: 1px solid white;
    background-color: black;
    width: 410px;
    text-align: center;
  }

  h3 {
    font-family: "Lexend";
    font-size: 25px;
  }

  h2 {
    font-family: "Goldmann";
    font-weight: bold;
    font-size: 60px;
    background: linear-gradient(228deg, rgb(253, 253, 253), #eb1b7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 25px;
  }

  h4 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 45px;
    color: #eb1b7d;
  }

  a {
  }
</style>
