---
const { data } = Astro.props;

console.log(data);
---

<article>
  <h3>Karrusel Festival 2024</h3>

  <h2>{data.ticket_name}</h2>

  <p>{data.description}</p>

  <h4>{data.price}DKK</h4>
  <p id="fee">+ Ticket Fee</p>

  <div class="buy_btn">
    <a href={data.buy_now_link}>Buy Now +</a>
  </div>
</article>

<style>
  article {
    border: 1px solid white;
    background-color: black;
    width: 430px;
    text-align: center;
    padding: 15px 25px;
    margin: 10px auto;
  }

  h3 {
    font-family: "Lexend";
    font-size: 17px;
    color: white;
  }

  h2 {
    font-family: "Goldman";
    font-weight: bold;
    font-size: 46px;
    background: linear-gradient(228deg, rgb(253, 253, 253), #eb1b7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    line-height: 40px;
  }

  #fee {
    margin-top: 2px;
    margin-bottom: 40px;
  }

  h4 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 39px;
    color: #eb1b7d;
    margin-bottom: 3px;
  }

  a {
    padding: 15px 25px;
    background: linear-gradient(228deg, #d51c80, #0d74f2);
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .buy_btn {
    margin: 60px 20px;
  }
</style>
