---

---

<div class="grid_1_1_1">
  <div>
    <h4 id="festivalsite">Festival Site</h4>
    <p id="adresse">Refshalevej 193</p>
    <p id="postnummer">1432 Copenhagen</p>
  </div>

  <div>
    <h4 id="contact">Contact</h4>
    <p id="mail">info@nusnus.dk</p>
    <div id="ikoner">
      <a href="https://www.instagram.com/karruselfest/"><img src="/img/insta.svg" alt="insta" /></a>
      <a href="https://www.facebook.com/karruselfest"><img src="/img/facebook.svg" alt="facebook" /></a>
    </div>
  </div>

  <div>
    <a href="/"><img id="logo" src="/img/logo.svg" alt="logo" /></a>
  </div>
</div>

<style>
  .grid_1_1_1 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 400px;
  }
  #festivalsite {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #ikoner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 75%;
    margin-top: 20px;
  }
  #adresse {
    line-height: 40px;
  }
  #contact {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #mail {
    line-height: 40px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    color: #d1cece;
  }
  #logo {
    margin-top: 20px;
    width: 80%;
  }

  @media (max-width: 600px) {
    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 55px;
      margin-left: 60px;
      margin-left: 60px;
    }
    p {
      margin-bottom: 0px;
      font-size: 0.7rem;
    }
    #logo {
      width: 35%;
      margin-left: 10px;
      margin-top: 10px;
    }
    #ikoner {
      gap: 20px;
      width: 30%;
    }
    #festivalsite,
    #contact {
      font-size: 1rem;
      margin-bottom: 0;
    }
    #logo {
      width: 35%;
      margin: 0;
    }
  }
</style>
