---

---

<div class="grid_1_1_1">
  <div>
    <h4 id="festivalsite">Festival Site</h4>
    <p>Refshalevej 193</p>
    <p>1432 Copenhagen</p>
  </div>

  <div>
    <h4 id="contact">Contact</h4>
    <p>info@nusnus.dk</p>
    <img id="insta" src="../public/insta.svg" alt="insta" />
    <img id="facebook" src="../public/facebook.svg" alt="facebook" />
  </div>

  <div>
    <img id="logo" src="../public/logo.svg" alt="logo" />
  </div>
</div>

<style>
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #festivalsite {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  #contact {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1rem;
  }
  #logo {
    padding-top: 7%;
  }
  #insta {
    width: 10%;
  }
  #facebook {
    width: 10%;
  }
</style>
