---
const
---

<div class="card">
    <div class="linje1">
        <p>ACID PAULI</p>
        <p>ÂME</p>
        <p>FJAAK dj set</p>
    </div>
    <div class="linje2">
        <p>HAAI</p>
        <p> KÖLSCH</p>
        <p>MIRA</p>
        <p>NARCISS</p>
    </div>
    <div class="linje3">
        <p>RICHIE HAWTON</p>
        <p>SATORI</p>
    </div>
</div>

<style>
    p{
        font-size: 72px;
        color: white;
        
    }

</style>