---

---

<div id="stjerne_container">
  <div id="stjerne_sprite"></div>
</div>

<style>
  #stjerne_container {
    aspect-ratio: 145/140;
    position: absolute;
    width: 8%;
  }

  #stjerne_sprite {
    background-image: url(../public/stjerne.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }
</style>
